{% extends 'manager/partial/_baseview2.html' %}
{% load static %}

{% block title %}
{% if "student"  in request.path%}مدیریت|دانش آموزان
{% elif "achievement" in request.path %}مدیریت|دست آورد ها 
{% else %}مدیدیت{% endif %}
{% endblock title %}

{% block content %}

    <!-- BEGIN LOEADING -->
    <div id="loader">
        <div class="spinner"></div>
    </div><!-- /loader -->
    <!-- END LOEADING -->
    
    <!-- BEGIN HEADER -->
    {% include "manager/partial/header.html" %}
    <!-- END HEADER -->

    {% include "manager/partial/messages.html" %}
    
    <!-- BEGIN WRAPPER -->
    {% include "manager/partial/start_manage.html" %}
    
    
    {% if 'student' in request.path %}
    <table class="table">
        <thead>
            <form action="" method="get">
            <tr>
            <th> تصویر </th>
            <th>
                <a href="?order=first_name"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                <a href="?order=-first_name"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>
                 نام </th>
            <th>
                <a href="?order=last_name"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                <a href="?order=-last_name"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                
                نام خانوادگی </th>
            <th>
                <a href="?order=birthday"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                <a href="?order=-birthday"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                
                تاریخ تولد </th>
            </tr>
            </form>
        </thead>
        <thead>
            <form action="" method="post">
                {% csrf_token %} 
            <th> <input class="btn btn-primary" type="submit" value=" جست و جو"> </th>
            <th> <input class="form-control" type="search" name="first_name"> </th>
            <th> <input class="form-control" type="search" name="last_name"> </th>
            <th> <input class="form-control" type="search" name="birthday"> </th>
            </form>
        </thead>
        <tbody>
            {% for st in student %}
            <tr>
            <th><img src="{{ st.photo.url }}" width="100" height="60" alt=""></th>
            <th>{{st.first_name}}</th>
            <th>{{st.last_name}}</th>
            <th>{{st.birthday}}</th>
            <th><th> <a class="btn btn-primary" href="{% url 'manager:student_form' st.id %}"> ویرایش </a> </th></th>
            <th><th> <a onclick="return confirm(' این رکورد حذف خواهد شد،ادامه؟')" class="btn btn-danger" href="{% url 'manager:student_delete' st.id %}"> حذف </a> </th></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'manager:student_form' 0 %}" method="get">
        <input class="btn btn-primary" type="submit" value=" ثبت رکورد جدید ">
    </form>
    {% elif 'achievement_waiting' in request.path %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="?order=owner"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-owner"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    مقام آورنده </th>
                <th>
                    <a href="?order=title"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-title"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>
                    عنوان افتخار </th>
                <th>
                    <a href="?order=year"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-year"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>
                    سال افتخار </th>
                <th>
                    <a href="?order=level"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-level"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    سطح </th>
                <th>
                    <a href="?order=field"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-field"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    دسته بندی </th>
                <th>
                    <a href="?order=dore"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-dore"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    دوره </th>
                <th> تصویر مدرک </th>
                <th> لینک ها  </th>
                <th> توضیحات  </th>
                <th>
                    <a href="?order=kind"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-kind"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    نوع درخواست </th>
                <th>
            </tr>
        </thead>
        <tbody>
            {% for ar in achievement %}
            <tr>
                <th>{{ar.owner.first_name}} {{ar.owner.last_name}}</th>
                <th>{{ar.title}}</th>
                <th>{{ar.year}}</th>
                <th>{{ar.level}}</th>
                <th>{{ar.field}}</th>
                <th>{{ar.dore}}</th>
                {% if ar.pic %}<th><img src="{{ar.pic.url}}" width="100" height="60" alt=""></th>{% else %}<th> بارگذاری نشده </th>{% endif %}
                {% if ar.video_link %}<th>{{ar.video_link}}</th>{% else %}<th> وارد نشده </th>{% endif %}
                {% if ar.detail %}
                <th>
                    <details>
                        <summary>{{ ar.detail|slice:"0:20" }}</summary>
                        <p>{{ ar.detail }}</p>
                    </details>                
                </th>{% else %}<th> وارد نشده </th>{% endif %}

                <th> {% if ar.refrence_id == 0 %}<label class="label-success round">درخواست جدید</label> 
                {% elif ar.is_deleted %}<label class="label-danger round">درخواست حذف</label>
                {% else %}<label class="label-success round">درخواست ویرایش</label>{% endif %} </th>
                <th><th> <a href="{% url 'manager:achievement_confirm_deny' 'confirm' ar.refrence_id ar.id%}"
                            onclick="return confirm(' تغییرات تایید خواهند شد،ادامه؟')" class="btn btn-primary" 
                            role="button"> تایید تغییرات </a> </th></th>
                <th><th> <a href="{% url 'manager:achievement_confirm_deny' 'deny' ar.refrence_id ar.id%}"
                            onclick="return confirm(' تغییرات رد خواهند شد،ادامه؟')" class="btn btn-danger" 
                            role="button" > رد تغییرات </a> </th></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif 'user_waiting' in request.path %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="?order=first_name"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-first_name"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    نام </th>
                <th>
                    <a href="?order=last_name"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-last_name"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>
                    نام خانوادگی </th>
                <th>
                    <a href="?order=email"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-email"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>
                    پست الکترونیکی </th>
                <th>
                    <a href="?order=meli_code"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-meli_code"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    کد ملی </th>
                <th>
                    <a href="?order=position"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-position"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    مسئولیت </th>
                <th>
                    <a href="?order=date_joined"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-date_joined"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    تاریخ ثبت نام </th>
            </tr>
        </thead>
        <tbody>
            {% for uw in user_waiting_list %}
            <tr>
                <th>{{uw.first_name}}</th>
                <th>{{uw.last_name}}</th>
                <th>{{uw.email}}</th>
                <th>{{uw.meli_code}}</th>
                <th>{{uw.position}}</th>
                <th>{{uw.date_joined}}</th>
                <th><th> <a href="{% url 'manager:user_confirm_deny' 'confirm' uw.id %}"
                            onclick="return confirm(' حساب تایید خواهد شد،ادامه؟')" class="btn btn-primary" 
                            role="button"> فعال سازی حساب </a> </th></th>
                <th><th> <a href="{% url 'manager:user_confirm_deny' 'deny' uw.id %}"
                            onclick="return confirm(' حساب حذف خواهد شد،ادامه؟')" class="btn btn-danger" 
                            role="button" > حذف حساب </a> </th></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif 'achievement' in request.path %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="?order=owner"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-owner"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    مقام آورنده </th>
                <th>
                    <a href="?order=title"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-title"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>
                    عنوان افتخار </th>
                <th>
                    <a href="?order=year"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-year"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>
                    سال افتخار </th>
                <th>
                    <a href="?order=level"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-level"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    سطح </th>
                <th>
                    <a href="?order=field"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-field"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    دسته بندی </th>
                <th>
                    <a href="?order=dore"><i class="fa fa-sort-down" aria-hidden="true"></i></a>
                    <a href="?order=-dore"><i class="fa fa-sort-up" aria-hidden="true"></i></i></a>                    
                    دوره </th>
                <th> تصویر مدرک </th>
                <th> لینک ها  </th>
                <th> توضیحات  </th>
            </tr>
        </thead>
        <thead>
            <form action="" method="post">
                {% csrf_token %} 
                <th> <input class="form-control" type="search" name="owner"> </th>
                <th> <input class="form-control" type="search" name="title"> </th>
                <th> <input class="form-control" type="search" name="year"> </th>
                <th> <input class="form-control" type="search" name="level"> </th>
                <th> <input class="form-control" type="search" name="field"> </th>
                <th> <input class="form-control" type="search" name="dore"> </th>
                <th>  </th>
                <th> <input class="form-control" type="search" name="video_link"> </th>
                <th> <input class="form-control" type="search" name="detail"> </th>
                <th> <input class="btn btn-primary" type="submit" value=" جست و جو"> </th>
            </form>
        </thead>
        <tbody>
            {% for ar in achievement %}
            <tr>
                <th>{{ar.owner.first_name}} {{ar.owner.last_name}}</th>
                <th>{{ar.title}}</th>
                <th>{{ar.year}}</th>
                <th>{{ar.level}}</th>
                <th>{{ar.field}}</th>
                <th>{{ar.dore}}</th>
                {% if ar.pic %}<th><img src="{{ar.pic.url}}" width="100" height="60" alt=""></th>{% else %}<th> بارگذاری نشده </th>{% endif %}
                {% if ar.video_link %}<th>{{ar.video_link}}</th>{% else %}<th> وارد نشده </th>{% endif %}
                {% if ar.detail %}
                <th>
                    <details>
                        <summary>{{ ar.detail|slice:"0:20" }}</summary>
                        <p>{{ ar.detail }}</p>
                    </details>               
                </th>{% else %}<th> وارد نشده </th>{% endif %}
                <th><th> <a class="btn btn-primary" role="button" href="{% url 'manager:achievement_form' ar.refrence_id %}"> ویرایش </a> </th></th>
                <th><th> <a onclick="return confirm(' این رکورد و درخواست های ویرایش آن حذف خواهد شد،ادامه؟')" class="btn btn-danger" role="button" href="{% url 'manager:achievement_delete' ar.refrence_id %}"> حذف </a> </th></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<form action="{% url 'manager:achievement_form' 0 %}" method="get">
    <input type="submit" class="btn btn-primary" value=" ثبت رکورد جدید ">
</form>
    {% endif %}

    {% include "manager/partial/end_manage.html" %}

    <!-- BEGIN FOOTER -->
    {% include "manager/partial/footer.html" %}
    <!-- END FOOTER -->
{% endblock content %}
